body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
  }
  
  #chatbox {
    background-color: #eee;
    width: 600px;
    height: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  #chatlogs {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 300px;
    overflow-y: scroll;
  }
  
  .user-question {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .ai-response {
    text-align: left;
    margin-bottom: 20px;
  }
  
  #chatform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  #user-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    width: 15%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  